<div class="fondoInicio"  >

  <div class="container">
  <h1>Registra curso de formación</h1>
  <form [formGroup]="formulariocurso2" (submit)="registro()">
    <fieldset>
      <legend>Datos del curso</legend>
      <ul>
        <li>
          <label>Nombre del curso:</label>
          <input type="text" formControlName="nombre" placeholder="Nombre">
        </li>
        <li>
          <label>Proveedor:</label>
          <input type="text" formControlName="proveedor" placeholder="Proveedor">
        </li>
        <li>
          <label>Link:</label>
          <input type="text" formControlName="url" placeholder="url">
        </li>
        <li>
          <label for="tipo">Tipo:</label>
          <select id="tipo" formControlName="tipo">
            <option value="">Seleccionar Tipo</option>
            <option value="frontend">Frontend</option>
            <option value="backend">Backend</option>
            <option value="BBDD">Base de Datos</option>
            <option value="analisis">Analista</option>

          </select>
        </li>
        <li>
          <input type="submit" value="Registrar">
          <input type="button" value="Cancelar" (click)="cancel()">
        </li>
      </ul>
    </fieldset>
  </form>
</div>
