<div class="fondo">
  @if(!showingRegisterForm){
  <form (submit)="login()" [formGroup]="formularioLogin" >

    <input type="text"
    placeholder="email"
    formControlName="mail">

    <input type="password"
    placeholder="contaseña"
    formControlName="password">

    <button [disabled]="formularioLogin.invalid" >Iniciar Sesion</button>

    <p class="registerText" (click)="toggleForm()">¿No tienes una cuenta? Registrate</p>
</form>
  }@else{
    <form (submit)="registro()" [formGroup]="formularioRegistro">

      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" formControlName="nombre" required>
      </div>
      <div class="form-group">
        <label for="apellido">Apellido:</label>
        <input type="text" id="apellido" formControlName="apellido" required>
      </div>
      <div class="form-group">
        <label for="mail">Correo Electrónico:</label>
        <input type="email" id="mail" formControlName="mail" required>
      </div>
      <div class="form-group">
        <label for="password">Contraseña:</label>
        <input type="password" id="password" formControlName="password" required>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirmar Contraseña:</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword" required>
      </div>
      <div class="form-group">
        <label for="tipo">Tipo:</label>
        <select id="tipo" formControlName="tipo" required>
          <option value="">Seleccionar Tipo</option>
          <option value="frontend">Frontend</option>
          <option value="backend">Backend</option>
          <option value="basededatos">Base de Datos</option>
          <option value="analista">Analista</option>
          <option value="fullstack">Fullstack</option>
        </select>
      </div>
    <button [disabled]="formularioRegistro.invalid">Registrarse</button>
    <p class="registerText" (click)="toggleForm()">¿Ya tienes una cuenta? Inicia sesion</p>
  </form>
  }
</div>

